.video-editor-container {
  background-color: #242424;

  .video-player-container {
    max-width: 696px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 70%;
    margin-bottom: 20px;
    position: relative;

    .play-button,
    .mute-button {
      background: none;
      border: none;
      color: #fff;
      padding: 10px 20px;
      margin: 0 10px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  
      &:hover {
        color: #bbbbbb;
      }
    }
  }

  .infos-actions-column-container {
    background-color: #5d5d5d;
  }

  .timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 0 3rem 3rem 3rem;
    background-color: #383838;
  }

  .timeline-progressline-container {
    position: relative;
    width: 100%;
    padding-top: 2rem;
    cursor: pointer;
    z-index: 20;


    .progress-output {
      position: absolute;
      top: 0;
      height: 100%;

      .progress-line {
        width: 2px;
        height: 100%;
        background-color: #fff;
        position: relative;
        pointer-events: none;
        z-index: 1;

        .progress-content {
          transform: translate(-50%, -100%);
          padding-bottom: 6.5px;
          color: #fff;
          font-size: 12px;
        }
      }
    }
  }

  .control-bars {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    position: relative;


    .thumbnails {
      position: relative;
      width: 100%;
      height: 80px;
      overflow: hidden;

      .thumbnail-canvas {
        width: 100%;
        height: 100%;
      }
    }

    .mask {
      position: absolute;
      top: 0;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }



    .control-bars-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;

      &::after {
        border: 2px solid #feca28;
        border-radius: 2px;
        bottom: -4px;
        box-shadow: inset 0 0 0 2px #2c2c31;
        content: "";
        display: block;
        left: -4px;
        position: absolute;
        right: -4px;
        top: -4px;
      }

      .control-bar {
        width: 15px;
        background-color: #feca28;
        position: absolute;
        top: -4px;
        z-index: 2;
        bottom: -4px;
        pointer-events: all;
        cursor: ew-resize;
        box-sizing: border-box;



        &.cb-left {
          left: 0;
          transform: translateX(-100%);
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }

        &.cb-right {
          right: 0;
          transform: translateX(100%);
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 8px;
          border-top-right-radius: 8px;
        }

        &:hover {
          background-color: #d8a91a;
        }

        &::before {
          background-repeat: no-repeat;
          background-position: 50%;
          content: " ";
          width: 6px;
          height: 15px;
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 3 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM1.5 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1.5 15a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd' fill-rule='evenodd'/%3E%3C/svg%3E");
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          margin-top: 0;
        }

        &::after {
          transition: left .1s linear, transform .1s linear;
          pointer-events: none;
          position: absolute;
          font-size: 12px;
          color: #feca28;
          left: 50%;
          transform: translate(-50%) scaleX(1);
          content: attr(data-content);
          font-weight: 300;
          bottom: -23px;
        }

        &.active::before {
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 3 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM1.5 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1.5 15a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' fill='%23fff' clip-rule='evenodd' fill-rule='evenodd'/%3E%3C/svg%3E");
        }
      }

      .selected-range-output {
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        color: #feca28;
        font-size: 14px;
        white-space: nowrap;
      }
    }
  }

  .controls {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    justify-content: center;
    margin-top: 20px;

    .save-button {
      background-color: #ff6600;
      border: none;
      color: #fff;
      padding: 10px 20px;
      margin: 0 10px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  
      &:hover {
        background-color: #e55a00;
      }
    }
  }

}

.tooltip-content {
  background-color: #ffffff;
  color: black;
  font-size: 12px;
}

::ng-deep .tooltip-progress .tooltip-inner {
  background-color: white;
}
::ng-deep .tooltip-progress.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: white;
}
::ng-deep .tooltip-progress.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: white;
}
::ng-deep .tooltip-progress.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: white;
}
::ng-deep .tooltip-progress.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: white;
}

// ::ng-deep .mat-mdc-form-field {
//   display: inline-block; /* Makes the element only as wide as its content */
//   margin-right: 20px; /* Adds extra space to the right */
//   margin-bottom: 10px; /* Optional: Adds space at the bottom */
// }

// .mat-form-field-wrapper {
//   width: auto; /* Ensures the wrapper adjusts to the size of the content */
// }

// .mat-form-field-flex {
//   display: flex;
//   align-items: center;
// }

::ng-deep .mat-mdc-form-field-infix {
  width: auto !important;
}
