<main class="px-lg-3">
  <div class="fullscreen-container pt-lg-3 pt-1 px-lg-3">
    <div class="first-column col-lg-7 d-flex flex-column justify-content-around">
      <app-vjs-player [sources]="[{
          src: 'https://www.w3schools.com/tags/mov_bbb.mp4',
          type: 'video/mp4'
        }]" [autoplay]="true" class="w-100 rounded-container"></app-vjs-player>
      <div class="row flex-grow-1 title-text mt-2 align-items-center">
        <div class="col d-flex flex-column justify-content-around align-items-center">
          <p><span class="gradient-text fs-1">{{hours}}</span>h <span class="gradient-text fs-1">{{minutes}}</span>min
            <span class="gradient-text fs-1">{{seconds}}</span>sec
            <span class="mx-3 fs-1 text-secondary-emphasis">|</span>
            <span class="gradient-text fs-1">{{ contributorsCount }}</span> winners</p>
        </div>
      </div>
    </div>
    <app-scroll-container class="col-lg-5 mh-100 flex-grow-1 flex-nowrap overflow-hidden" [contentTemplate]="videoTemplate" [context]="{ videos: videos }"></app-scroll-container>
  
    <ng-template #videoTemplate let-context="videos">
      <div *ngFor="let video of context">
        <app-video-preview-card [video]="video"></app-video-preview-card>
      </div>
    </ng-template>

  </div>
</main>
