<div class="d-flex flex-row w-100 mb-3 me-5">
  <div class="me-1">
    <img class="rounded only-right" src={{video.thumbnail}} height="94px" width="168px" alt="...">
  </div>

    <div class="ms-2 video-description-col d-flex flex-column justify-content-around">
      <p class="video-title">{{video.title}}</p>
      <p class="video-text">{{video.description}}</p>
      <p class="video-text">{{video.likes}} likes • {{timeSinceUpload}}</p>
      <!-- <p>{{video.duration}}</p>
      <p>{{video.createdAt}}</p> -->
    </div>
  </div>
