<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div class="ms-lg-3 collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100">
          <li class="nav-item" routerLinkActive="gradient-text">
            <a class="nav-link" [routerLink]='["/home-page"]'>OneTube</a>
          </li>
          <li class="nav-item" routerLinkActive="gradient-text">
            <a class="nav-link" [routerLink]="['/test']">Weekly contests</a>
          </li>
          <li class="nav-item ms-auto">
            <!-- <a class="nav-link gradient-outline bg-prim" [routerLink]="['/upload-video-page']">Weekly contest</a>  -->
            <button class="gradient-outline bg-prim" [routerLink]="['/upload-video-page']">
              <span>Participate 🔥</span> 
             </button>
          </li>
          <li class="nav-item mx-lg-3 " routerLinkActive="gradient-text">
            <a class="nav-link fs-6 fw-medium" (click)="openLoginModal()">Log in</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>