@import 'bootstrap/scss/bootstrap';
@import 'globals';
@import 'mixins';

.text-color-primary {
  color: var(--text-primary-color);
}

.text-color-secondary {
  color: var(--text-secondary-color);
}

html {
  font-family: Roboto, Arial, sans-serif;
  color: var(--text-primary-color);
}
body {
  background-color: var(--background-color);
}

p {
  font-size: var(--md);
  font-weight: 400;
  color: var(--text-primary-color);
}

h1 {
  font-size: var(--xxxl);
  color: var(--text-primary-color);
  font-weight: 700;
}

h2 {
  font-size: var(--xxl);
  color: var(--text-primary-color);
  font-weight: 600;
}

h3 {
  font-size: var(--xl);
  color: var(--text-primary-color);
  font-weight: 500;
}

h4 {
  font-size: var(--lg);
  color: var(--text-primary-color);
  font-weight: 400;
}

h5 {
  font-size: var(--md);
  color: var(--text-primary-color);
  font-weight: 300;
}

button {
  cursor: pointer;
  font-weight: 500;
  padding: 10px 20px;
  color: var(--text-primary-color);
  border-radius: var(--md) !important;
  font-size: var(--md);
  border: none;
  &:hover {
    transition: all ease 0.3s !important;
  }

  span {
    width: 100%;
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: normal;
  }
}

.btn-outline {
  color: var(--text-primary-color);
  border: 2px solid var(--border-primary-color);
  background-color: transparent;
  &:hover {
    background-color: var(--background-secondary-color);
  }
}

%gradient-background {
  background:  var(--red-to-pink-to-purple-horizontal-gradient);
}

.gradient-background {
  @extend %gradient-background;
}

button.gradient-background:hover, a.gradient-background:hover {
  background: var(--transparent-red-to-pink-to-purple-horizontal-gradient);
}

.gradient-text {
  @extend %gradient-background;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-outline {
  position: relative !important;
  color: var(--text-primary-color);
  border-radius: var(--md) !important;
  border: 3px solid transparent !important;

  &:hover {
    transition: all ease 0.3s !important;
  }
}
  .gradient-outline.bg-prim {
    @include gradient-outline(var(--background-color));
  }

  button.gradient-outline.bg-prim:hover {
    @include gradient-outline(var(--button-primary-hover-color));
  }

  .gradient-outline.bg-sec {
    @include gradient-outline(var(--background-secondary-color));
  }

  button.gradient-outline.bg-sec:hover {
    @include gradient-outline(var(--button-secondary-hover-color));
  }

.divider {
  width: 1px;
  @extend %gradient-background;
  margin-inline: 0.5rem;
}

header {
  width: 100%;
  z-index: 1000;
  
  height: var(--header-height-large);
  background-color: var(--background-color);
  // border-bottom: 1px solid var(--border-primary-color);
  
  a.nav-link,a.navbar-brand {
      color: var(--text-primary-color);

      &:hover {
        color: var(--text-secondary-color);
      }
  }

  @media (max-width: 992px) {
    height: var(--header-height-small);
  }
}

hr {
  border: 1px solid var(--border-primary-color);
  margin: 1rem 0;
  opacity: 1;
}

html, body { 
  height: 100%; 
  margin: 0;
  overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main {
    background-color: var(--background-color);
    width: 100%;
    @include full-height-minus-header(var(--header-height-large), false);
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    position: relative;

    @media (max-width: 992px) {
      @include full-height-minus-header(var(--header-height-small), false);
    }
  }

  .disable-scroll {
    overflow: hidden;
  }


.fullscreen-container {
  @include full-height-minus-header(var(--header-height-large), true);

  @media (max-width: 992px) {
    @include full-height-minus-header(var(--header-height-small), true);
  }
}

.mobile-scroll {
  @media (max-width: 992px) {
    overflow-y: auto;
  }
}