/* You can add global styles to this file, and also import other style files */
/* styles.css */
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'mixins';


header {
  width: 100%;
  z-index: 1000;
  
  height: $header-height-large;

  @media (max-width: 992px) {
    height: $header-height-small;
  }
}

html, body { 
  height: 100%; 
  margin: 0;
  overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main {
    width: 100%;
    @include full-height-minus-header($header-height-large);
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    position: relative;

    @media (max-width: 992px) {
      @include full-height-minus-header($header-height-small);
    }
  }

  .disable-scroll {
    overflow: hidden;
  }

  .fullscreen-container {
    @include full-height-minus-header($header-height-large);

    @media (max-width: 992px) {
      @include full-height-minus-header($header-height-small);
    }
  }